body{
	margin: 0;
	padding: 0;
	background: #cccccc;
}


.header{
	width: 1920px;
	height: 100px;
	background: #CCCCCC;
}
#headNan{
	width: 1500px;
	height: 100px;
	background: yellow;
	margin: 0 auto;
}
#main{
	width: 1500px ;
	height: 3000px;
	background: pink;
	margin: 0 auto;
	position: relative;
	top: 50px;
}
/*<!--主体左边文字-->*/
#mainLeft{
	width: 400px;
	height: 3000px;
	background: blueviolet;
	float: left;
}
/*搜索框*/
#mainLeft input{
	width: 200px;
	height: 30px;
	border: grey;
	color: gray;
	font-size: 18px;
	margin-left: 10px;
	position: relative;
	top: 30px;
	
}
/*左边搜索框 下的文字*/
#leftTXT{
	width: 380px;
	height: 2920px;
	background: green;
	position: relative;
	top: 50px;
	
}
/*开发文档*/
.leftT{
	font-size: 18px;
	font-weight: 700;
	color: gray;
}
/*DIU*/
#txtOneL{
	width: 150px;
	height: 160px;
}
.ul{
	width: 150px;
	height: 160px;
	text-decoration: none;	
}
.ul li{
	list-style: none;
	font-size: 13px;
	color: gray;
}
/*模块开发*/
#txtTwoL{
	width: 150px;
	height: 239px;
}
.wid{
	width: 400px;
	height: 239px;
	list-style: none;
}
/*端API*/
#txtThreeL{
	width: 300px;
	height: 157px;
}
/*云API*/
#txtFourL{
	width: 300px;
	height: 100px;
}
/*技术专题*/
#txtFiveL{
	width: 350px;
	height: 330px;
	overflow: hidden;
	overflow: auto;
}
/*开发工具*/
#txtsixL{
	width: 150px;
	height: 500px;
}
/*下载*/
#txtSeveL{
	width: 150px;
	height: 50px;
}
.wid1{
	width: 150px;
	height: 80px;
}
/*微信公众号适配*/
#txtEightL{
	width: 150px;
	height: 80px;
}
/*七天培训课教程*/
#txtNineL{
	width: 150px;
	height: 170px;
}
/*定制平台常见问题*/
#txtTenL{
	width: 150px;
	height: 120px;
}
/*开放平台接入指南*/
#txtElevenL{
	width: 170px;
	height: 710px;
}

#mainRight{
	width: 900px;
	height: 3000px;
	background: red;
	float: left;
	margin-left: 100px;
}

.dingZhi{
	font-size: 25px;
	font-weight: 500;
	color: yellow;
	text-decoration: none;
	margin-left: 50px;
}

#mainRight hr{
	display: block;
	width: 660px;
	color: gray;
	position: relative;
	right: 70px;
}

#rightTxt1{
	width: 800px;
	height: 400px;	
}

#rightTxt1  a{
	font-size: 14px;
	color: yellow;
	text-decoration: none;
}

/*#rightTxt1 a:hover{
	color: yellow;
}*/

#rightTxtTwo{
	width: 800px;
	height: 200px;
	/*border: 1px solid black;*/
}
.a{
	font-size: 18px;
	color: yellow;
	text-decoration: none;
}
.font{
	font-size: 15px;
}
/*定制优势*//*DIU是谁*/
.DIU{
	font-size: 14px;
	color: gray;
}
#rightTxtThree{
	width: 800px;
	height: 343px;
	/*border: 1px solid black;*/
}

#rightTxtFour{
	width: 800px;
	height: 80px;
	/*border: 1px solid black;*/
}
#rightTxtFive{
	width: 800px;
	height: 100px;
	/*border: 1px solid black;*/
}
#rightTxtSix{
	width: 800px;
	height: 100px;
	/*border: 1px solid black;*/
}
#rightTxtSeven{
	width: 800px;
	height: 120px;
	/*border: 1px solid black;*/
}
#rightTxtEight{
	width: 850px;
	height: 120px;
	/*border: 1px solid black;*/
}
#rightTxtNine{
	width: 850px;
	height: 120px;
	/*border: 1px solid black;*/
}
.big{
	font-size: 18px;
}
